.cuadrado-2 {
  background-image: url(https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202011/05/00105170113897____1__640x640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border: 3px solid #555;
  background-color: gray;
}

.disk {
  width: 300px;
  height: 300px;
  border: 3px solid black;

  /* background-color: black; */
  background:
    linear-gradient(30deg, transparent 40%, rgb(42 41 40 / 85%) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgb(42 41 40 / 85%) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-image: url(./gotele.jpg);
  background-color: rgb(198 201 38);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.caja {
  background-color: rgb(88 88 88);
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px;
}

.low-disk {
  width: 150px;
  height: 150px;
  border: 3px solid red;
  background-color: red;
  border-radius: 50%;
  justify-content: center;

  /*  background: rgb(255 0 0); */

  background-size: cover;
  background-image: url(https://elcorreodeburgos.elmundo.es/asset/thumbnail,992,558,center,center/media/elcorreodeburgos/images/2011/09/06/20468_1.jpg);
  align-items: center;

  /* translate: 75px 70px; */
}

.white {
  width: 8px;
  height: 8px;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  translate: 68px 64px;
}
